@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,200;1,300&family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --main-color: #a5d9f781;
    --black-color: #1d1d1d;
    --border: 0.1rem solid rgba(255, 255, 255, 0.4)
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: capitalize;
    text-decoration: none;
    transition: 0.5s ease;
}

/* Base html code */

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body {
    background-color: rgba(247, 204, 149, 0.733);
}

section {
    padding: 3.5rem 7%;
}

footer {
    padding: 3.5rem 7%;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2.75rem;
    border-radius: 30rem;
    font-size: 1.7rem;
    color: #fff;
    background: rgb(253, 207, 79);
}

.btn:hover {
    opacity: 0.7;
}

.search-input {
    font-size: 1.6rem;
    color: black;
    padding: 1rem;
    text-transform: none;
    border-radius: 3rem;
}

.heading {
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 3.5rem;
    border-bottom: 0.1rem solid #fff;
}

.heading span{
    text-transform: uppercase;
    color: rgb(248, 194, 123);
}

.form-heading span{
    text-transform: uppercase;
    color: rgb(245, 167, 66);
}

.submit:hover{
    opacity: 0.7;
    cursor: pointer;
}

/* Header start */

.header .search-form{
    position: absolute;
    top: 115%;
    right: 7%;
    background: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    /* transform: scale(0); */
    border-radius: 3rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transform: scaleY(0);
}

.header .search-form .active {
    transform: scaleY(1);
}

.header .search-form i{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color: black;
}

.header .search-form input{
    width: 100%;
}

.header .logo img {
    height: 10rem;
}

.header {
    background: rgba(247, 204, 149, 0.733);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--black-color);
    border-bottom: 0.1rem solid transparent;
}

.header .navbar .active,
.header .navbar a:hover {
    border-color: rgba(0, 0, 0, 0.253);
    padding-bottom: 0.5rem;
    transition: 0.1s ease;
}

.header .buttons button {
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    background: transparent;
}

#menu-btn {
    display: none;
}

.header .cart-items-container {
    position: absolute;
    top: 95%;
    height: calc(100vh - 9rem);
    width: 35rem;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    right: -100%;
}

.header .cart-items-container .cart-item{
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    color: black;
}

.header .cart-items-container .cart-item .content h5{
    font-size: 2rem;
    color: black;
    padding-bottom: 0.5rem;
} 

.header .cart-items-container .cart-item .content .price {
    font-size: 1.5rem;
    color: black;
}

.header .cart-items-container .cart-item:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header .cart-items-container .btn {
    width: 100%;
    text-align: center;
    border-radius: unset;
}

.header .cart-items-container .btn:hover {
    background: rgba(255, 194, 26, 0.658);
    color: black;
    box-shadow: rgba(0, 0, 0, 0.30) 0px 5px 20px;
}

.header .cart-items-container .cart-item img{
    height: 15rem;
}

/* Header end */



/* Home start */
.home {
    min-height: 100vh;
    background: url(../images/home_background.jpg);
    background-size: cover;
    margin-top: -14.5rem;
    display: flex;
    align-items: center;
}

.home .content {
    max-width: 60rem;
}

.home .content h1 {
    font-size: 6rem;
    color: rgb(255, 246, 116);
}

.home .content p {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    color: rgb(245, 152, 66);
}

/* Home end */


/* Menu start */
.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.menu .box-container .box{
    background: rgba(245, 153, 66, 0.096);
    border-radius: 3rem;
    min-height: 50rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.menu .box-container .box .box-head img{
    width: 80%;
    object-fit: cover;
    margin: 2.5rem;
}

.menu .box-container .box .box-head h5{
    font-size: 3rem;
    padding: 1.2rem 0;
}


.menu .box-container .box .prices {
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

.menu .box-container .box .prices span{
    text-decoration: line-through;
    padding: 0 1.5rem;
    font-weight: 300;
    font-size: 2rem;
}
/* Menu end */

/* Products start */
.products .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.products .box-container .box{
    background: rgba(245, 153, 66, 0.096);
    text-align: center;
    color: #fff;
    position: relative;
    border-radius: 3rem;
    height: 70rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem;
}

.products .box-container .box .box-head{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 1000;
}

.products .box-container .box .box-head .name{
    font-size: 3rem;
    color: black;
    font-weight:700 ;
}

.products .box-container .box .image img{
    width: 90%;
    object-fit: cover;
    margin: 2.5rem;
}

.products .box-container .box .box-buttom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.products .box-container .box .box-buttom .info{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.products .box-container .box .box-buttom .info .price{
    position: absolute;
    top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 2.5rem;
    padding: 0.5rem 0;
}

.products .box-container .box .box-buttom .info span{
    text-decoration: line-through;
    position: absolute;
    top: 2rem;
    left: 8rem;
    font-size: 2rem;
    color: black;
}

.products .box-container .box .box-buttom .product-btn {
    font-size: 3rem;
    border: .2rem dashed rgba(129, 129, 250, 0.425);
    border-radius: 200%;
    padding: 1rem 2rem;
}

.products .box-container .box .box-buttom .product-btn:hover{
    opacity: 0.6;
}
/* Products end */



/* About start */

.about .row {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2rem;
}

 .image {
    flex: 1 1 45rem;
}

.about .row img{
    width: 100%;
    border-radius: 2rem;
}

.about .row .content {
    flex: 1 1 45rem;
}

.about .row .content h4{
    font-size: 3rem;
    color: rgb(245, 153, 66);
}

.about .row .content p{
    font-size: 1.6rem;
    color: black;
    padding: 1rem 0;
    line-height: 1.8rem;
}
/* About end */

/* Review start */
.review .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.review .box-container .box{
    background: rgba(245, 153, 66, 0.096);
    border-radius: 4rem;
    text-align: center;
    padding: 3rem 2rem;
}

.review .box-container .box img{
    width: 90%;
    object-fit: cover;
    margin: 2.5rem;
    position: relative;
}

.review .box-container .box .user {
    width: 55%;
    height: 25%;
    margin: 2.5rem;
    border-radius: 12rem;
    padding: 2rem;
}

.review .box-container .box h4{
    font-size: 1.4rem;
    padding: 1.2rem;
    color: rgba(5, 112, 252, 0.993);
}

.review .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.9rem;
}


.review .box-container .box .starts i{
    color: rgb(243, 243, 105);
    font-size: 1.5rem;
}
/* Review start */

/* Contact start */
.contact .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;    
    background: rgba(245, 153, 66, 0.288);
}

.contact .row  iframe{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form{
    flex: 1 1 45rem;
    text-align: center;
    padding: 5rem 5rem ;
}

.contact .row form h5{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin: 2rem 0;
    border: solid black;
}

.contact .row form .inputBox i{
    color: black;
    font-size: 2rem;
    padding-left: 2rem;
}


.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: black;
    text-transform: none;
    background: none;
}

/* Contact end */

/* Blog start */
.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    
}

.blogs .box-container .box{
    background: rgba(245, 153, 66, 0.096);
    border-radius: 3rem;
}

.blogs .box-container .box .image{
    height: 25rem;
    overflow: hidden;
    width: 100%;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    padding-bottom: 2rem;
}

.blogs .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.blogs .box-container .box .content {
    display: flex;
    flex-direction: column;
}

.blogs .box-container .box .content .title {
    color: black;
    font-size: 3rem;
}

.blogs .box-container .box .content span{
    font-size: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
}

.blogs .box-container .box .content p{
    opacity: 0.4;
    font-size: 1.4rem;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-left: 1rem;
}

.blogs .box-container .box a{
    margin-bottom: 1rem;
    margin-left: 1rem;
}
/* Blog end */



/* Footer start */
.footer {
    background: rgba(37, 24, 11, 0.76);
    text-align: center;
}
.footer .search {
    display: flex;
    justify-content: center;
}
.footer .search .search-input {
    width: 30rem;
}

.footer .search .btn {
    background: rgba(255, 194, 26, 0.658);
    padding: 1rem 2rem;
    margin-left: 1rem;
}

.footer .share {
    padding: 2rem 0;
}

.footer .share a{
    width: 5rem;
    height: 5rem;
    line-height: 5rem;
    color: white;
    font-size: 2.5rem;
    border: 1px solid white;
    border-radius: 3rem;
    margin: 0.5rem 0.8rem;
}

.footer .share a:hover{
    background: rgba(255, 194, 26, 0.658);
    color: black;
}

.footer .links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.footer .links a{
    font-size: 1.8rem;
    background: rgba(255, 194, 26, 0.658);
    color: white;
    border: 0px solid black;
    padding: 1rem;
    border-radius: 1rem;
}

.footer .links a:hover{
    background: rgba(255, 194, 26, 0.658);
    color: black;
    box-shadow: rgba(0, 0, 0, 0.70) 0px 5px 50px;
}

.footer .copyright .copyright-area p{
    font-size: 1.5rem;
    margin-top: 2rem;
}

.footer .copyright .copyright-area a{
    color: black;
}
/* Footer end */




/* Responsive start */

    @media( max-width: 991px ) {
        html {
            font-size: 55%;
        }
        .header {
            padding: 1.5rem 2rem;
        }
        .header .logo img{
            height: 7rem;
        }

        section {
            padding: 2rem;
        }

        
    }

    @media( max-width: 768px ) {
        #menu-btn {
            display: inline-block;
        }

        .header .navbar {
            position: absolute;
            top: 95%;
            background: #fff;
            height: calc(100vh - 9rem);
            width: 30rem;
            box-shadow: 0px 20px 14px 0px rgba(0 0 0 0 / 75%);
            right: -100%;
        }

        .header .navbar .active {
            right: 3rem;
        }

        .header .navbar a{
            color: black;
            display: block;
            margin: 1.5rem;
            padding: 0.5rem;
            font-size: 2rem;
        }
    }

/* Responsive end */